@import '../colours.css';

.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: var(--primary-color) !important;
}

.Button:active {
  background-color: var(--primary-color) !important;
}

.Button:focus {
  background-color: var(--primary-color);
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.BlueOutline,
.Blue:hover {
  /* border: 1px solid var(--primary-color); */
  background-color: #ffffff;
  color: var(--primary-color);
}

.Black,
.BlackOutline:hover {
  /* background-color: var(--dark-green);
  color: white; */
  background-color: var(--primary-color);
  color: aliceblue;
}

.Black:hover,
.BlackOutline {
  /* background-color: #dadadf;
  color: var(--dark-green);
  border-color: var(--dark-green); */
  background-color: aliceblue;
  color: var(--dark-green);
}

.Bright {
  background-color: var(--icon-hover-color);
  color: var(--primary-color);
}