@import '../colours.css';

/* Button Styles */
.Button {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 80px; 
  box-sizing: border-box;
  border: none;
}

.Button:hover, .Button:focus {
  background-color: var(--dark-green);
  box-shadow: none;
  border: none;
}

.Button:hover {
  transform: scale(1.2);
}



