@import '../colours.css';

.Catch {
    background-color: var(--content-background-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Catch figure,
  h5 {
    margin: 0 0;
  }
  
  .Thumb {
    color: var(--primary-color);
  }
  
  .Thumb:hover {
    color: var(--icon-hover-color);
  }
  
  .ThumbOutline:hover {
    color: var(--icon-hover-color);
  }