@import '../colours.css';

.NavBar {
  background-color: var(--content-background-color);
  border: 1px solid var(--border-color);
}


.ButtonLink {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
  border: none;
}


.ButtonLink:hover, .ButtonLink:focus {
  color: var(--background-color);
  background-color: var(--dark-green);
  text-decoration: none; 
}

.ButtonLink:hover {
  transform: scale(1.2);
}


.NavLink {
  margin-right: 10px;
  padding: 5px;
  display: flex;
  align-items: center; /* Center children vertically  for alignment*/
}

.NavLink:hover {
  text-decoration: none;
}

.Active i {
  color: var(--primary-color);
}

.Brand img {
  margin-right: 15px;
}

.BrandText {
  font-family: "Patua One", serif;
  font-size: x-large;
  font-weight: 400;
  font-style: normal;
}