@import '../colours.css';

.NavBar {
  background-color: var(--content-background-color);
  border: 1px solid var(--border-color);
}

.ButtonLink {
  margin-right: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center; 
  border: 1px solid var(--border-color); 
  border-radius: 4px; 
  background-color: var(--icon-color);
  color: var(--text-color); 
  text-decoration: none; 
  transition: background-color 0.3s ease; 
}

.ButtonLink:hover {
  background-color: var(--icon-hover-color);
  color: var(--hover-text-color);
}

.NavLink {
  margin-right: 10px;
  padding: 5px;
  display: flex;
  align-items: center; /* Center children vertically  for alignment*/
}

.NavLink:hover {
  text-decoration: none;
}

.Active i {
  color: var(--primary-color);
}

.Brand img {
  margin-right: 15px;
}

.BrandText {
  font-family: "Patua One", serif;
  font-size: x-large;
  font-weight: 400;
  font-style: normal;
}