@import '../colours.css';

.bellIcon {
  background: transparent;
  border: none;
  cursor: pointer;
}

.notificationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.notificationItem:hover {
  background-color: #f0f0f0; /* Change to your preferred hover color */
}

 .removeButton  {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--red); /* Feel free to adjust the color to match your design */
  padding: 0 5px; /* Adds some padding for easier clicking */
  font-size: 16px; /* Adjust the font size as needed */
}


